<ul class="table-view">
{{#each}}
	<li {{bind-attr id="fields.item_id"}} class="table-view-cell">
		{{#link-to "food" fields.item_id class="navigate-right"}}
			{{fields.item_name}}

			<p>
				{{#if fields.brand_name}}
					{{fields.brand_name}}
					 |
				{{/if}}

				Typical serving: {{fields.nf_serving_size_qty}} {{fields.nf_serving_size_unit}}
			</p>
		{{/link-to}}
	</li>

	{{else}}

	<li class="table-view-cell">
		<p>We didn't find any Foods matching your query. Please try an alternative keyword.</p>
	</li>
{{/each}}
</ul>

