<ul class="food-result-list table-view">
{{#each}}
	<li {{bind-attr id="item_id"}} class="food-result-item table-view-cell">
		{{#link-to "food" item_id class="navigate-right"}}
			
			<span class="food-result-item__name">{{item_name}}</span>

			<p>
				{{#if brand_name}}
					{{brand_name}}					 |
				{{/if}}

				Typical serving: {{nf_serving_size_qty}} {{nf_serving_size_unit}}
			</p>
		{{/link-to}}
	</li>

	{{else}}

	<li class="food-result-item--no-match table-view-cell">
		<p>We didn't find any Foods matching your query. Please try an alternative keyword.</p>
	</li>
{{/each}}
</ul>

