<div class="content-padded">

	{{#each meal in allMeals}}
		{{meal.title}}
	{{/each}}

	<h2 class="h4">Calculate Carbs</h2>
	
	<label for="portionWeight">Portion weight:</label>
	{{input type="number" name="portionWeight" value=portionWeight placeholder="Enter Portion weight in grams (g)..."}}

	{{#if portionCHO}}
	<p>Your Portion contains <strong>{{portionCHO}}g</strong> of Carbohydrate</p>
	
	<form {{action "addPortionToMeal"  on="submit"}}>
		{{view Ember.Select selectionBinding="selectedMeal" content=allMeals optionValuePath="content.id" optionLabelPath="content.title" }}
		<button type="submit" class="btn btn-positive btn-block">
			<span class="icon icon-plus"></span>
			Add Portion ({{portionCHO}}g) to Meal
		</button>
	</form>
	{{/if}}

</div>


<div class="content-padded">

	<h2 class="h4">About this Food</h2>
	<p><strong>CHO/100g:</strong> {{nf_total_carbohydrate}}g</p>
	<p><strong>Typical serving: {{nf_serving_size_qty}} {{nf_serving_size_unit}}</strong></p>
</div>